.cards-text{
    font-family: poppinsBlack;
    color: white;
    font-size: 30px;
    margin: 5px;
    white-space: pre-line;
}

.cards{
    background-color:#82B9E9;
    margin:10px;
    height:350px;
    border-radius:30px;
}

.cardsImage{
    width: 200px;
}